/* ****************************************************************************** */
/* Program: NYT React Article Search                                              */
/* Authors: Rod Skoglund                                                          */
/* File: (client-src) app.css                                                     */
/* Description: Defines the styles for the app.js. This was provided by the       */
/*              create-react-app utility.                                         */
/* ****************************************************************************** */

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
