/* ****************************************************************************** */
/* Program: NYT React Article Search                                              */
/* Authors: Rod Skoglund                                                          */
/* File: (client-src-components-NavBar) Nav.css                                   */
/* Description: Defines the styles used to display Nav component                  */
/* ****************************************************************************** */
.customNav {
	font-size: 50px;
	font-family: 'Didact Gothic', sans-serif;
	font-size: 5vh;
	color: white;
}

.nav-wrapper {
	background-color: lightsteelblue;
}
